.projectitem {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Smooth transform effect on hover */
  text-decoration: none;
}
.projectitem:hover {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.projectitem img {
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  aspect-ratio: 3.5/2;
  background-color: #e50001;
}
.projectitem h3 {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #0078d4;
}
.projectitem p {
  font-size: 1rem;
  color: #bbb;
}

.form {
  margin: auto;
  max-width: 400px;
}
.form .formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.form .formField label {
  font-size: 1rem;
  font-weight: bold;
}
.form .formField label,
.form .formField input,
.form .formField textarea {
  font-size: 1rem;
}
.form .formField input,
.form .formField textarea {
  padding: 12px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.form .formField input:focus,
.form .formField textarea:focus {
  outline: 2px solid #0078d4;
  border-radius: 2px;
}
.form .formField textarea {
  max-width: 376px;
  height: 105px;
  min-height: 21px;
  max-height: 210px;
  resize: vertical;
}

.TestOne body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  margin: auto;
}

.portrait {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
}