@media screen and (max-width: 528px) {
  .bars {
    opacity: 1;
    display: block;
  }
  .items {
    height: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .items.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 50px);
    opacity: 1;
  }
  .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 369px) {
  .gameContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gameTitle {
    min-height: auto;
  }
}