@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    Lato,
    Roboto Slab,
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  padding-top: var(--nav-height);
}
html {
  scroll-padding-top: var(--nav-height);
}

@import "menu.scss";
@import "hero.scss";
@import "Button.scss";
@import "structure.scss";

@import "viewports.scss";
