.hero.home {
  height: calc(100vh - 50px);
  margin: 0;
}
.hero{
    height: calc(75vh - 50px);
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 14px;
    text-transform: uppercase;
    text-align: center;
  }
  .hero h1 {
    color:white;
    font-size: 44px;
    font-family: Lato;
    font-weight: 400;
  }
  .section {
      min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        padding: 15px 0 20px;
        margin: 0 0 40px;
      }
      p {
        font-family: Roboto;
        font-weight: 400;
        margin-bottom: 35px;
        font-size: 24px;
      }
  }
  .button {
    padding: 15px 20px;
    text-decoration: none;
    font-family: Lato;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 600;
    outline: 0;
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    transition: 0.2s ease
  }
  .button:active {
    outline: none;
  }
  .button:hover {
    background-color: #777777;
  }
