.resumeTable {
  display: flex;
  flex-direction: column;
  row-gap: 12pt;
  max-width: 706px;
  margin: auto;
  font-family: Roboto Slab;
  h1,
  h2,
  p,
  a,
  li,
  strong,
  span {
    font-family: Roboto Slab;
    margin-bottom: 0;
    font-size: 11pt;
  }
  a {
    color: #7eb1ff;
  }
  // section {
  //   display: block;
  // }
  .contactTable {
    tbody {
      display: block;
      tr {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
  }
  .name {
    font-size: 16pt;
    font-weight: bold;
    margin: auto auto 0;
  }

  .contactText {
    font-size: 12pt;
  }

  .rightAlign {
    text-align: right;
  }

  .sectionTitle {
    font-size: 12pt;
    font-weight: bold;
    border-bottom: 1px solid #fff;
  }

  .title {
    font-style: italic;
    font-weight: bold;
  }
  ul {
    padding-left: 40px;
  }
  .educationSection {
    tbody {
      display: flex;
      row-gap: 19px;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 768px) {
  .resumeTable {
    ul {
      padding-left: 20px;
    }
    .contactTable {
      tbody {
        tr {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
