@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  background-color: black;
  color: white;
}

div.ui.menu {
  margin-bottom: 0;
}

.ui.menu.fixed {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui.header {
  color: white;
}

.ui.menu.fixed .item {
  text-transform: uppercase;
}

.ui.message {
  color: white;
  background-color: #1b1c1d;
  border-color: white;
}

.ui.menu:not(.vertical) > .menu {
  margin-left: 25%;
}

body {
  height: auto;
}

.hero.home {
  height: calc(100vh - 40px);
}

.hero {
  height: calc(75vh - 40px);
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.hero h1 {
  color: white;
  margin: 0px;
  font-size: 50px;
}

body {
  background-color: black;
  color: white;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1450px;
  margin: auto;
}

.form {
  padding: 8px;
  margin: auto;
  max-width: 400px;
}

.formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16px;
  max-width: 400px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.formField label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.formField input {
  font-size: 16px;
  padding: 12px;
  margin-bottom: 16px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.formField textarea {
  font-size: 16px;
  padding: 12px;
  max-width: 376px;
  height: 105px;
  min-height: 21px;
  max-height: 210px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  resize: vertical;
}

.TestOne body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
