@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html,
body {
  /* height: 100%; */
  /*font-family: Roboto Slab;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.app {
  max-width: 1000px;
  width: 85%;
  margin: auto;
}

/* The pagescroll is made to keep the scrolling bar of the page's content out of the nav bar that is at the top. */
.pagescroll {
  width: 100%;
  margin-top: 50px;
  margin: 50px auto auto;
  overflow-y: auto;
  /* The height is calulated to be the full height of the device's screen, minus 50px to compensate for the nav bar at the top. */
  height: calc(100vh - 50px);
}

.ui.message {
  color: white;
  background-color: #1b1c1d;
  border-color: white;
}

.hero.home {
  height: calc(100vh - 50px);
  margin-top: 0;
}

.hero {
  height: calc(75vh - 50px);
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.hero h1 {
  color: white;
  margin: 0px;
  font-size: 50px;
  font-family: Lato;
  font-weight: 400;
}

body {
  background-color: black;
  color: white;
}

p {
  font-size: 18px;
  font-family: Roboto;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1450px;
  margin: auto;
}

.form {
  padding: 8px;
  margin: auto;
  max-width: 400px;
}

.formField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 16px;
  max-width: 400px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.formField label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.formField input {
  font-size: 16px;
  padding: 12px;
  margin-bottom: 16px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.formField textarea {
  font-size: 16px;
  padding: 12px;
  max-width: 376px;
  height: 105px;
  min-height: 21px;
  max-height: 210px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  resize: vertical;
}

.TestOne body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navHolder {
  position: fixed;
  background-color: #000;
  width: 100vw;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  margin-bottom: 0;
  opacity: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bars {
  opacity: 0;
  display: none;
  padding: 10.5px 12.5px;
  float: right;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.bars .bar {
  display: block;
  width: 25px;
  margin: 5px 0;
  background-color: #fff;
  height: 3px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bars.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.bars.active .bar:nth-child(2) {
  opacity: 0;
}

.bars.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 314px;
  /* background-color: aqua; */
  height: 50px;
  overflow: hidden;
  -webkit-transition: height 0.5s, opacity 0.5s;
  transition: height 0.5s, opacity 0.5s;
}

.item {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  text-transform: uppercase;
  padding: 15.4px;
}

@media screen and (max-width: 528px) {
  .bars {
    opacity: 1;
    display: block;
  }
  .items {
    height: 0;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .items.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 50px);
    opacity: 1;
  }
  .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 369px) {
  .gameContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gameTitle {
    min-height: auto;
  }
}