@use "../navbar-variables.scss" as *;
@use "src/app/styles/abstract/_variables.scss" as *;

@mixin styles {
  .bars {
    opacity: 0;
    visibility: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    width: $navHeight;
    height: $navHeight;
    padding: 0;

    float: right;

    cursor: pointer;

    .bar {
      display: block;

      width: 25px;
      height: 3px;

      margin: 0;

      border-radius: 5px;

      background-color: #000;

      transition:
        background-color $fast-transition,
        opacity $normal-transition,
        transform $normal-transition;
    }

    &:hover {
      .bar {
        background-color: $primary;
      }
    }

    &.active {
      .bar:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .bars {
      .bar {
        background-color: #fff;
      }
    }
  }

  @media screen and (max-width: $nav-mobile-breakpoint) {
    .bars {
      position: absolute;
      right: 0;
      opacity: 1;
      visibility: visible;
      display: flex;
      transition: $normal-transition;
    }
  }

}
