@use "../navbar-variables.scss" as *;

@mixin styles {
  @media screen and (max-width: $nav-mobile-breakpoint) {
    .bars {
      right: auto;
      left: 0;
    }

    .menuTop {
      justify-content: flex-end;
      flex-direction: row-reverse;
      .bars {
        right: auto;
        left: 0;
      }
    }
  }
}
