@use "../navbar-variables.scss" as *;

@mixin styles {
  @media screen and (max-width: $nav-mobile-breakpoint) {
    .bars {
      right: 0;
      left: auto;
    }

    .menuTop {
      justify-content: flex-start;

      .bars {
        right: 0;
        left: auto;
      }
    }
  }
}
