$hb-size: "default" !default; // "default" | "big"
$hb-location: "right" !default; // "left" | "right"
$mobile-menu: "fullheight" !default; // "default" | "fullheight"
$menu-direction: "right" !default; // "left" | "right" | "down"
$menu-animation: "slide" !default; // "slide" | "grow"
