.resumeTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12pt;
  max-width: 706px;
  margin: auto;
  font-family: Roboto Slab;
}
.resumeTable h1,
.resumeTable h2,
.resumeTable p,
.resumeTable a,
.resumeTable li,
.resumeTable strong,
.resumeTable span {
  font-family: Roboto Slab;
  margin-bottom: 0;
  font-size: 11pt;
}
.resumeTable a {
  color: #7eb1ff;
}
.resumeTable .contactTable tbody {
  display: block;
}
.resumeTable .contactTable tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resumeTable table {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}
.resumeTable .name {
  font-size: 16pt;
  font-weight: bold;
  margin: auto auto 0;
}
.resumeTable .contactText {
  font-size: 12pt;
}
.resumeTable .rightAlign {
  text-align: right;
}
.resumeTable .sectionTitle {
  font-size: 12pt;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}
.resumeTable .title {
  font-style: italic;
  font-weight: bold;
}
.resumeTable ul {
  padding-left: 40px;
}
.resumeTable .educationSection tbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 19px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .resumeTable ul {
    padding-left: 20px;
  }
  .resumeTable .contactTable tbody tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}