div.ui.menu {
    margin-bottom: 0;
}
.ui.menu.fixed {
    justify-content: center;
}
.ui.header {
    color: white
}
.ui.menu .item {
    text-transform: uppercase;
}
.ui.message {
    color: white;
    background-color: #1b1c1d;
    border-color: white;
}
.ui.menu:not(.vertical) > .menu {
    margin-left: 25%;
}
body {
    height: auto;
}