.overlayContent {
  background-color: #fff;
  max-width: 35rem;
  border-radius: 0.75rem;
  min-width: 20.375rem;
}
.overlayContent .overlayControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}
.overlayContent .overlayBody {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
}
.overlayContent .overlayBody .settingsOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 40px;
}
.overlayContent .overlayBody .settingsOption .settingLabel {
  width: 8.5rem;
}
.overlayContent .overlayBody .settingsOption select {
  display: none;
}
.overlayContent .overlayBody h3 {
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0rem;
}
.overlayContent .overlayBody p {
  margin-bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1rem;
}
.overlayContent .overlayBody pre {
  display: block;
  margin-bottom: 0.5rem;
}
.overlayContent .overlayBody pre code {
  font-size: 1rem;
  text-wrap: wrap;
  word-break: break-all;
}
.overlayContent .overlayBody pre .errorMSG {
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.overlayContent .overlayFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 2.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (pointer: coarse) and (max-width: 768px), screen and (hover: none) and (max-width: 768px) {
  .overlayContent p,
  .overlayContent pre code {
    font-size: 1.125rem;
  }
  .overlayContent {
    grid-row-gap: 1.5rem;
  }
  .overlayContent .overlayControls,
  .overlayContent .overlayBody,
  .overlayContent .overlayFooter {
    padding: 1.5rem;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .settingsOption select {
    font-size: 1rem;
  }
  @media not all and (max-height: 899px) and (-webkit-min-device-pixel-ratio: 0.0010416666666666667), not all and (max-height: 899px) and (min-resolution: 0.1dpi) {
    .overlayContent {
      max-width: 75%;
      grid-row-gap: 1.5rem;
      -webkit-column-gap: 0;
         -moz-column-gap: 0;
              column-gap: 0;
      row-gap: 0;
    }
    .overlayContent p {
      font-size: 1.125rem;
    }
    .overlayContent pre code {
      font-size: 1.125rem;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .overlayContent .overlayButtons {
      -webkit-column-gap: 0;
         -moz-column-gap: 0;
              column-gap: 0;
    }
    .overlayContent .overlayButtons button:first-child {
      margin-right: 1rem;
    }
  }
}
@media screen and (max-width: 360px) {
  .overlayContent {
    width: 100%;
    border-radius: 0;
  }
  .overlayContent .overlayBody .settingsOption .settingLabel {
    width: auto;
  }
}
.sectionDivider {
  background-color: #c9ced1;
  border: none;
  height: 1px;
  margin: 0.5rem -0.5rem;
  max-height: 1px;
  display: block;
}

li.sectionDivider {
  width: calc(100% + 1rem);
}

div.sectionDivider {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  li.sectionDivider {
    margin: 0.75rem -0.75rem;
    width: 100vw;
  }
}
.settingsContainer {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.settingsContainer .overlayContent {
  display: unset;
  padding: 0;
  border: 1px solid #c9ced1;
  border-radius: 12px;
  grid-row-gap: 0;
  width: 100%;
  max-width: 492px;
}
.settingsContainer .overlayContent .overlayControls {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 1rem 1.5rem;
}
.settingsContainer .overlayContent .overlayBody {
  padding: 1.5rem;
  max-height: 608px;
  overflow-y: auto;
  display: block;
  row-gap: 2rem;
}
.settingsContainer .overlayContent .overlayBody .AvatarWrapper {
  display: block;
  max-width: 350px;
  margin: auto;
}
.settingsContainer .overlayContent .overlayBody .AvatarWrapper .cropArea {
  width: 100%;
  height: 100%;
}
.settingsContainer .overlayContent .overlayBody .userAvatar {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.settingsContainer .overlayContent .overlayFooter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.settingsContainer h1 {
  font-size: 32px;
  margin: auto;
  padding: 2.5rem;
  max-width: 1000px;
}
.settingsContainer p,
.settingsContainer h5 {
  font-size: 14px;
  font-weight: 400;
}
.settingsContainer h5 {
  margin: 1rem auto;
}
.settingsContainer .sectionContainer {
  width: auto;
  position: unset;
  margin: auto 1.5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 860px;
  padding: 0;
  border: 1px solid #c9ced1;
  border-radius: 1rem;
}
.settingsContainer .sectionContainer .sectionBody {
  padding: 1.5rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.settingsContainer .sectionContainer .sectionBody h4,
.settingsContainer .sectionContainer .sectionBody p {
  margin: 0;
}
.settingsContainer .sectionContainer .sectionBody .userAvatar {
  width: 100px;
  height: 100px;
  float: right;
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 1px solid gray;
}
.settingsContainer .sectionContainer .sectionBody .userAvatar:hover {
  cursor: pointer;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
.settingsContainer .sectionContainer .sectionBody .userAvatar:active {
  -webkit-box-shadow: 0 0 0 2px #666;
          box-shadow: 0 0 0 2px #666;
}
.settingsContainer .sectionContainer .avatar {
  display: block;
}
.settingsContainer .sectionContainer .avatar h4 {
  margin-bottom: 1rem;
}
.settingsContainer .sectionContainer .sectionFooter {
  padding: 0.75rem 1.5rem;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
}
.settingsContainer .sectionContainer .sectionFooter p {
  margin: 0.625rem 0;
}
.settingsContainer .sectionContainer p {
  margin: 0.75rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.settingsContainer .sectionContainer h4 {
  font-size: 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
}
.settingsContainer .sectionContainer h3 {
  margin-bottom: 0.75rem;
}
.settingsContainer .sectionContainer .containerButtons label {
  margin: 0;
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .sectionContainer {
    height: calc(100% - 60px);
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
@media screen and (max-width: 768px) {
  .settingsContainer .sectionContainer .sectionFooter {
    padding: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 492px) {
  .settingsContainer .overlayContent {
    border-radius: 0;
    position: absolute;
    bottom: 0;
  }
  .settingsContainer .overlayContent .overlayBody {
    max-width: -webkit-fill-available;
    overflow-y: auto;
    max-height: calc(75vh - 6.688rem - 73px);
  }
}
@media screen and (max-width: 492px) and (pointer: coarse), screen and (max-width: 492px) and (hover: none) {
  .settingsContainer .overlayContent .overlayBody {
    max-height: calc(75vh - 89px);
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  .settingsContainer {
    height: auto;
  }
  .settingsContainer .sectionContainer {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}