@use "../navbar-variables.scss" as *;
@use "../navbar-config.scss" as config;
@use "../../../../styles/abstract/variables.scss" as *;

@mixin styles(
  $side,
  $opposite,
  $translate-direction,
  $clear-border-first: false
) {
  @media screen and (max-width: $nav-mobile-breakpoint) {
    .menuContainer {
      #{$opposite}: auto;

      @if $clear-border-first {
        border-#{$side}: none;
        border-#{$opposite}: solid 1px $lightmodeborder;
      } @else {
        border-#{$opposite}: solid 1px $lightmodeborder;
        border-#{$side}: none;
      }
      #{$side}: -$nav-menu-width;
    }

    .menuContainer.active {
      transform: translate($nav-menu-width * $translate-direction);
    }

    @if config.$mobile-menu == "fullheight" {
      .navHolder:has(.menuContainer.active) > .bars {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  @media (prefers-color-scheme: dark) and (max-width: $nav-mobile-breakpoint) {
    .menuContainer {
      @if $clear-border-first {
        border-#{$side}: none;
        border-#{$opposite}-color: $darkmodeborder;
      } @else {
        border-#{$opposite}-color: $darkmodeborder;
        border-#{$side}: none;
      }
    }
  }

  @media screen and (max-width: calc($nav-menu-width - 1px)) {
    .menuContainer {
      #{$opposite}: auto;
      #{$side}: -100%;
    }

    .menuContainer.active {
      transform: translate(100% * $translate-direction);
    }
  }
}
